<div class="end-screen">

  <div class="end-screen-content">

    <img src="<%=require('../assets/images/logo.png')%>">

    <div class="button-group">
        <div class="button  js-button-cta">
            <%=ctaButtonText%>
        </div>
    
        <div class="button replay  js-button-replay">
            <%=replayButtonText%>
        </div>
    </div>

  </div>

</div>