<div class="loader">
  <div class="loader__container">

    <div class="loader-item">
      <img src="<%= require('../assets/images/logo.png') %>" class="loader-logo">
    </div>

    <div class="loader-item">
      <div class="loader-loading-bar">
        <div class="loader-loading-bar__progress  js-progress"></div>
      </div>
    </div>

  </div>
</div>
