<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <script src="<%= htmlWebpackPlugin.options.playableKit %>"></script>
  <script>

    PlayableKit(<%=JSON.stringify(require('../build/configBuilder.js'), null, 2)%>);

  </script>
</body>
</html>
