<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.manifest %></title>
  </head>
  <body>
    <script src="https://playablekit.gamewheel.com/playablekit-0.5.0.js"></script>
    <script src="https://playablekit.gamewheel.com/pk-ga-0.2.0.js" trackingId="GA_TRACKING_ID" appName="<%=APP_NAME%>" appVersion="<%=APP_VERSION%>"></script>
    <script>
      PlayableKit(<%=JSON.stringify(require('../compile/configBuilder.js'), null, 2)%>);
    </script>
  </body>
</html>
